font-face {
    font-family: UbuntuM;
    src: url(/public/fonts/Ubuntu-Bold.ttf);
}
body{
    background-color: #ffffff;
}
#bemvindo {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #e7e7e7;    
}
#bemvindo_letter {
    font-size: 50px;
    color: #a8a8a8;
    font-family: UbuntuM;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(184, 184, 184);
  }
  
  #item_list {
    float: left;
    font-family: UbuntuM;
  }
  
  #item_list #clicable_item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #item_list #clicable_item :hover {
    background-color: #973cf8;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width:300px) {
  .column {
    width: 80%;
  }
}
  #purple_box {    
    background-color: #973cf8;
    height: 800px;
    font-family: UbuntuM;
    color: white;
  }

#botao_pedido{
    font-family: UbuntuM;
    font-size: large;
    height: 3rem;
    width: 100%;
    border-radius: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
#modelo_label {
    border: 10px;
    border-color: #e7e7e7;
    height: 5rem;
    width: 100%;
    text-size-adjust: unset;
    color: #973cf8;
    border-radius: 1rem;
    size: 10cm;     
    margin: 1rem;
}
