@font-face {
    font-family: UbuntuM;
    src: url(/public/fonts/Ubuntu-Medium.ttf);
}
body{
    background-color: #ffffff;
}
#bemvindo {
    text-align: center;
    background-color: #e2e2e2;    
}
#bemvindo_letter {
    font-size: 50px;
    color: #747474;
    font-family: UbuntuM;
}