<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Bem-vindo</title>
    <link href="\styles\css\style.css" rel="stylesheet" type="text/css">
    <script async defer src="\scripts\script.js"></script>
</head>
<body>  
    <nav>
        <a href="#">Home</a>
        <a href="#">Pedidos</a>
        <a href="#">Requições</a>
        <a href="#">Entrar</a>  
        <a href="Contato">Contato</a>    
        <div class="animation start-home"></div>  
    </nav>      
    <br>
    <div id="container">
        <h2 style="text-align: center;">Pague of precisa, não oque não sabe</h2>
        <p>
            Aqui é onde você encontra o preço certo
        </p>
    </div>
</body>
</html>