<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Bem-vindo</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header id="bemvindo">
        <h1 id="bemvindo_letter">Olá,bem vindo a ZZ</h1>    
    </header>  
    
    <ul>
        <li id="item_list"><a href="Comentários" id="clicable_item">Comentários</a></li>
        <li id="item_list"><a href="/render_pedido" id="clicable_item">Fazer pedido</a></li>
        <li id="item_list"><a href="Ver pedido" id="clicable_item">Ver pedido</a></li>
        <li id="item_list"><a href="Sobre nós" id="clicable_item">Sobre nós</a></li>
    </ul>

    <div class="row">
        
        <div class="column" id="purple_box">
            <h1>Quem somos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
        </div>   
        
        <div class="column" id="image_box">            
            <img src="/public/images/maintenance.jpg" alt="Maintenance" width="300" height="200">
        </div>

    </div>

</body>
</html>