<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Bem-vindo</title>
    <link href="\styles\css\style.css" rel="stylesheet" type="text/css">
</head>
<body>    
    <div id="nav_bar">
        <ul class="column">
            <li><a href="">Home</a></li>
            <li><a href="/pedido">Pedidos</a></li>
            <li><a href="">Contato</a></li>        
        </ul> 
        <H1 style="text-align: center;font-size: 20px" class="column">ZManu</H1>
    </div>
    <br>
    <div id="container">
        <h2 style="text-align: center;">Pague of precisa, não oque não sabe</h2>
        <p>
            Aqui é onde você encontra o preço certo
        </p>
    </div>
</body>
</html>