$primary_color : #007bff;
$secondary_color : #004288;
$item_color : #ff6f00;
$default_color: #FFFFFF;
@font-face {
    font-family: "Ubuntu_Bold";
    src: url('../../fonts/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: "Ubuntu_Medium";
    src: url('../../fonts/Ubuntu-Medium.ttf');    
}
@font-face {
    font-family: "Ubuntu_Light";
    src: url('../../fonts/Ubuntu-Light.ttf')
}
@font-face {
    font-family: "Montserrat_bold";
    src: url('../../fonts/Montserrat-Bold.ttf');
}

$ubuntu_b: "Ubuntu_Bold";
$ubuntu_m: "Ubuntu_Medium";
$ubuntu_l: "Ubuntu_Light";
$montserrat: "Montserrat_bold";



@media screen and (min-width:240px) and (max-width:768) {

}

@media screen and (min-width:1024px) and (orientation:landscape) {

    body {
        color: $default_color;
        background-color: $secondary_color;
        font-family: $ubuntu_b;     
        margin: 0px;
    }
    
    ul{                  
        list-style-type: none;            
        height: 2rem;             
    }
    
    li{     
        display: inline;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    a {
        text-decoration: none;
        color: $default_color;
     }
    
     #nav_bar {
         width: 100%;
         vertical-align: bottom;
         display: table;         
         column-count: auto auto;
         background-color: $primary_color;
         padding-left: 10px;
         padding-right: 10px;
     }
     .column {
         display: table-cell;         
     }

     nav {
         position: relative;         
         width: 100%;
         height: 50px;
         background: $primary_color;
         border-radius: 0px 0px 0px 0px;
         font-size: 0;
         box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
     }
     nav .animation {
         position: absolute;
         height: 100%;
         top: 0;
         z-index: 0;
         background: $item_color;
         width: 100px;
         border-radius: 0px 0px 8px 8px;
         transition: all .5s ease 0s;
     }
     nav a{
        font-family: $montserrat;
        font-size: 15px;
        text-transform: uppercase;
        color: $default_color;
        text-decoration: none;
        line-height: 50px;
        position: relative;
        z-index: 1;
        display: inline-block;
        text-align: center;
     }

    

     a:nth-child(1){
         width: 100px;
     }

     nav .start-home,a:nth-child(1):hover~.animation {
        width: 100px;
        left: 0;
    }

     a:nth-child(2){
        width: 120px;
    }

    nav .start-home,a:nth-child(2):hover~.animation {
        width: 120px;
        left: 100px;
    }

    a:nth-child(3){
        width: 140px;
    }

    nav .start-home,a:nth-child(3):hover~.animation {
        width: 140px;
        left: 220px;
    }

    a:nth-child(4){
        width: 100px;
    }

    nav .start-home,a:nth-child(4):hover~.animation {
        width: 100px;
        left: 360px;
    }

    a:nth-child(5){
        width: 100px;
    }

    nav .start-home,a:nth-child(5):hover~.animation {
        width: 100px;
        left: 460px;
    }

    
    #container {        
        padding: 30px
    }
    #download_banner{
        padding: 0;
    }
    #employ {
        width: 100%;
        margin: 0;
    }
    #banner {
        margin: 0;
        column-count: 2;
        padding-top: 2rem;
        padding-bottom: 2rem;             
        font-family: $montserrat;
        text-align: center;        
        background-color: $item_color;
        height: 12rem;
        width: 100%;
    }
    #content{
        column-count: 1;
    }
    #divider{
        border: 3px solid $primary_color;
        height: 500px;
        width: 0;
    }
}

@media screen and (min-width:1024px) and (orientation:portrait) {

}

